body{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.calculatrice {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px #515ada;
}

#ecran {
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.boutons {
    display: grid; /* Active le système de grille pour l'élément conteneur */
    grid-template-columns: repeat(4, 1fr); /* Définit la structure des colonnes de la grille, 4 colonnes de largeur égale (1fr) */
    grid-gap: 5px;  /* Ajoute un espace entre les éléments de la grille */
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
}

button.operateur {
    background-color: #ddd;
}

button.action {
    background-color: #aaa;
    color: white;
}

button:hover {
    background-color: #ddd;
}